---
import BaseLayout from '../layouts/BaseLayout.astro';

import ProfileMain from '../components/ProfileMain.astro';
import ProfileSideBar from '../components/ProfileSidebar.astro';

// Your Styles
//import '../styles/MyStyles.css';

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>


 <div class="page-content-container grid grid-cols-2 gap-4">
      <div class="flex pl-10 pr-20">
      <ProfileSideBar />
    </div>
    <div class="flex pl-20 pr-20">
      <ProfileMain />
    </div>
    </div>
  
</BaseLayout>

