<div class="container">
<!-- Main Section -->
<main>

    <section class="user-network pt-5">
      <header class="border border-2 border-black p-1">
        <h2>Paul could be in your extended network</h2>
      </header>
    </section>

    <br>
    <section class="blurbs">
      <header class="main-section-header">
        <h2 class="main-section-h2">Paul's Blurbs</h2>
      </header>

      <h3>About me:</h3>
      <p>I'm here to help you with <b>MySpace</b>. Send me a message if you're confused by anything. <span class="info">Before asking me a question, please check the <a href="#">FAQ</a> to see if your question has already been answered.</span></p>

      <p>I may have been on your friend list when you signed up. If you don't want me to be, click "Edit Friends" and remove me!</p>

      <p><strong>Also, feel free to tell me what features you want to see on MySpace and if I think it's cool, we'll do it!</strong></p>

      <p>If you want a tutorial on HTML/designing your page, check this out: <a href="#">Mack</a>!!</p>

      <p>Note: If you try to view my friends list you won't see all 24,000,000 million people. This was bogging down the system, so we made it only show 40 people. So you wont be able to see the friends on my list.</p>

      <h3>Who I'd like to meet:</h3>
      <p>I'd like to meet people who educate, inspire or entertain me... I have a few close friends I've known all my life. I'd like to make more. </p>
    </section>

    <section class="friends">
      <header class="main-section-header">
        <h2 class="main-section-h2">Paul's Language/Tool Space</h2>
      </header>

      <div class="friend-pic-container pt-5 grid grid-cols-4 gap-4 grid-row-2">
        <figure>
          <figcaption><a href="#">Java</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">SQL</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">HTML</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">CSS</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">Astro</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">Tailwind<br>DaisyUI</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">C#</a></figcaption>
          <img src="">
        </figure>

        <figure>
          <figcaption><a href="#">Javascript</a></figcaption>
          <img src="">
        </figure>
      </div>

      <p class="friends-list-link"><a href="/about">Learn More about Paul</a></p>
    </section>

  </main>
</div>