<!-- Profile Sidebar Begins -->
<div class="flex flex-col w-full">
  <aside class="profile-sidebar space-y-6">
    
    <div class="profile-picture-container grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <!-- Left Column: Name and Profile Image -->
      <div class="flex flex-col items-center text-center">
        <!-- Name on top -->
        <header class="text-2xl font-bold mb-4">
          Paul Aguilar
        </header>
        <!-- Profile Image -->
        <div class="flex justify-center mb-4">
          <img class="profile-pic h-48 w-48 object-cover rounded-full" src="me.jpg" alt="This is me.">
        </div>
      </div>
    
      <!-- Right Column: Text Content -->
      <div class="text-sm pt-10">
    
        <ul class="gender-age space-y-1 text-sm">
          <p class="personal-msg text-left mb-4"><b>":-)"</b></p>

          <li>Male</li>
          <li>30 years old</li>
          <li>Spokane,</li>
          <li>WA</li>
          <li>United States</li>
        </ul>
    
    <ul class="last-login mt-4">
      <li>Last Login:</li>
      <li>4/22/2006</li>
    </ul>
      </div>
      

      <div class="text-center" >
        <p class="pics-videos">View My: <a href="#" class="font-bold">Pics</a> | <a href="#" class="font-bold">Videos</a></p>
      </div>
    </div>

    <!-- Contact Box -->
    <section class="contact-box space-y-6">
      <h2 class="text-xl font-semibold">Contacting Paul</h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p>Send a Message</p>
          <p>Forward to Friend</p>
          <p>Add to Friends</p>
          <p>Add to Favorites</p>
        </div>
        <div>
          <p>Instant Message</p>
          <p>Block User</p>
          <p>Add to Group</p>
          <p>Rank User</p>
        </div>
      </div>
      <figure class="contact-images flex flex-wrap gap-2 justify-center mt-4">
        <img src="pictures/sendMailIcon.gif" alt="Send Message" class="h-8">
        <img src="pictures/forwardMailIcon.gif" alt="Forward to Friend" class="h-8">
        <img src="pictures/addFriendIcon.gif" alt="Add to Friends" class="h-8">
        <img src="pictures/addFavoritesIcon.gif" alt="Add to Favorites" class="h-8">
        <img src="pictures/messagefriend.gif" alt="Instant Message" class="h-8">
        <img src="pictures/blockUser.gif" alt="Block User" class="h-8">
        <img src="pictures/addToGroupIcon.gif" alt="Add to Group" class="h-8">
        <img src="pictures/rankUserIcon.gif" alt="Rank User" class="h-8">
      </figure>
    </section>

    <!-- MySpace URL -->
    <section class="myspace-url-box space-y-2">
      <h3><b>GitHub URL:</b></h3>
      <a href="https://www.github.com/pja6" class="text-blue-500">https://www.github.com/pja6</a>
    </section>

    <!-- Interests Section -->
    <section class="interests space-y-4">
      <table class="sidebar-table w-full">
        <caption>
          <h2 class="sidebar-table-h2 text-xl font-semibold">Paul's Interests</h2>
        </caption>
        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">General</th>
            <td class="sidebar-table-data">
              <p>Internet, Movies, Reading, Dancing, Karaoke, Baseball, Language, Culture, History of Communism, Philosophy, Singing/Writing Music, Running, Finding New Food, Weight Lifting, Hiking, WWI Aviation, Travel, Building alternate communities</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Paul's Details Section -->
    <section class="details space-y-4">
      <table class="sidebar-table w-full">
        <caption>
          <h2 class="sidebar-table-h2 text-xl font-semibold">Paul's Details</h2>
        </caption>
        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">Status:</th>
            <td class="sidebar-table-data">Looking for work</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Here For:</th>
            <td class="sidebar-table-data">Networking, Friends</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Hometown:</th>
            <td class="sidebar-table-data">Lakewood, WA</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Ethnicity:</th>
            <td class="sidebar-table-data"></td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Zodiac Sign:</th>
            <td class="sidebar-table-data">Libra</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Smoke / Drink:</th>
            <td class="sidebar-table-data">No / No</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">Occupation:</th>
            <td class="sidebar-table-data">Student</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Paul's Schools Section -->
    <section class="schools space-y-4">
      <table class="sidebar-table w-full">
        <caption>
          <h2 class="sidebar-table-h2 text-xl font-semibold">Paul's Schools</h2>
        </caption>
        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul>
                <li><a href="#">University Of California-Los Angeles</a></li>
                <li>Los Angeles, CALIFORNIA</li>
                <li>Graduated: <a href="#">2000</a></li>
                <li>Degree: Master's Degree</li>
                <li>Major: Film - Critical Studies</li>
              </ul>
            </th>
            <td class="sidebar-table-data">1999 to 2000</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul>
                <li><a href="#">University Of California-Berkeley</a></li>
                <li>Berkeley, CALIFORNIA</li>
                <li>Graduated: <a href="#">1997</a></li>
                <li>Student status: Alumni</li>
                <li>Degree: Bachelor's Degree</li>
                <li>Major: English & Rhetoric</li>
                <li>Clubs: DECAL: Literary Theory</li>
              </ul>
            </th>
            <td class="sidebar-table-data">1993 to 1996</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
</div>
<!-- Profile Side Bar Ends -->
